/*
 * Globals
 */

*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #2d3142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

a {
  color: #ffffff;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 1em;
}

/* Header */

header {
  background: #4f5d75;
}

.logo {
  color: #ffffff;
  height: 40px;
  margin-right: 10px;
  margin-bottom: -5px;
}

.brand-name {
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  text-decoration: none;
}

.header-container {
  margin: 0 auto;
  align-items: center;
  height: 90px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

/* Nav links */

.nav-link {
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
}
.nav-link:not(:first-child) {
  margin-left: 100px;
  padding: 14px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  text-decoration: underline;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* Hero */

.hero-container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232d3142' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 70vh;
}

.hero-tagline {
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 40px;
  max-width: 710px;
}

.hero-button {
  background: #9a350e;
  font-weight: bold;
  padding: 1em 2em;
  text-decoration: none;
}

.hero-button:hover {
  background: #ef8354;
}

/* About Page  */
.about-container {
  margin: 60px 0;
}

/* Footer */
footer {
  background: #4f5d75;
  font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 400px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.column-header {
  color: #ffffff;
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 25px;
}

.column-text {
  color: #ffffff;
  font-size: 24px;
}

.social-media-links {
  display: block;
  text-align: right;
  text-decoration: none;
}

.social-media-links:not(:last-child) {
  margin-bottom: 10px;
}

.social-media-links:hover {
  text-decoration: underline;
}

.subscribe-labels {
  display: none;
}

#subscribe-input {
  border: none;
  color: #2d3042;
  height: 40px;
  font-size: 18px;
  margin-top: 50px;
  padding-left: 1em;
  width: 300px;
}

#subscribe-button {
  background: #ef8354;
  color: #2d3042;
  border: none;
  font-size: 18px;
  padding: 10px 30px;
  text-transform: uppercase;
}

#subscribe-button:hover {
  cursor: pointer;
}

/* Main column and sidebar layout */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}

/*
   * Blog posts
   */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

/*
   * Footer
   */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
