/*
* Globals
*/

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(../../assets/fonts/Oswald-Regular.woff) format("woff");
}

@font-face {
  font-family: "Oswald Bold";
  src: local("Oswald Bold"),
    url(../../assets/fonts/Oswald-Bold.woff) format("woff");
}

@font-face {
  font-family: "Oswald Medium";
  src: local("Oswald Medium"),
    url(../../assets/fonts/Oswald-Medium.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(../../assets/fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"),
    url(../../assets/fonts/OpenSans-Bold.woff) format("woff");
}

*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #292f36;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "Oswald Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

a {
  color: #ffffff;
}

*::selection {
  background: #ffff2d !important; /* WebKit/Blink Browsers */
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 1em;
}

/*
 * Header
 */

header {
  background: #4ecdc4;
  height: 90px;
}

.header-container {
  margin: 0 auto;
  align-items: center;
  height: 90px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #ffffff;
  height: 40px;
  margin-right: 10px;
  margin-bottom: -5px;
}

.brand-name {
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  text-decoration: none;
}

/* Nav links */

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  font-family: "Oswald Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-decoration: none;
}
.nav-link:not(:first-child) {
  margin-left: 65px;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff;
  text-decoration: underline;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/* 
**  Hero
*/

.hero-container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232d3142' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background: yellow; */
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-tagline {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 40px;
  max-width: 720px;
}

.hero-button {
  background: #ff6b6b;
  display: inline-block;
  font-family: "Open Sans Bold";
  padding: 1em 2em;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.hero-button:hover {
  box-shadow: 10px 10px 0 #4eccc4;
  cursor: pointer;
}

/* About Page  */
.about-container {
  margin: 60px 0;
}

/*
 * Footer
 */

footer {
  background: #4ecdc4;
  height: 400px;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.footer-header {
  color: #ffffff;
  font-size: 36px;
  font-family: "Oswald Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 100px;
  margin-bottom: 20px;
}

.column-text {
  color: #ffffff;
  font-size: 24px;
}

.social-media-links {
  display: block;
  text-align: right;
  text-decoration: none;
}

.social-media-links:not(:last-child) {
  margin-bottom: 10px;
}

.social-media-links:hover {
  text-decoration: underline;
}

.subscribe-labels {
  display: none;
}

#subscribe-input {
  border: none;
  color: #2d3042;
  height: 40px;
  font-family: "Oswald Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-top: 50px;
  padding-left: 1em;
  width: 300px;
}

#subscribe-button {
  background: #ff6b6b;
  color: #ffffff;
  border: none;
  font-family: "Oswald Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-left: -5px;
  padding: 7px 30px;
  text-transform: uppercase;
}

#subscribe-button:hover {
  cursor: pointer;
}

/*
 * Copyright
*/

.copyright {
  background: #292f36;
  color: #ffffff;
  font-family: "Oswald Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 45px;
  /* display: flex;
  align-items: center; */
  display: flex;
  align-items: center;
}

.copyright-container {
  display: flex;
  justify-content: flex-start;
  width: 1200px;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}
