/*
* Globals
*/

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(../../assets/fonts/Oswald-Regular.woff) format("woff");
}

@font-face {
  font-family: "Oswald Bold";
  src: local("Oswald Bold"),
    url(../../assets/fonts/Oswald-Bold.woff) format("woff");
}

@font-face {
  font-family: "Oswald Medium";
  src: local("Oswald Medium"),
    url(../../assets/fonts/Oswald-Medium.woff) format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(../../assets/fonts/OpenSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"),
    url(../../assets/fonts/OpenSans-Bold.woff) format("woff");
}

@font-face {
  font-family: "IBM Plex Sans Bold";
  src: local("IBM Plex Sans Bold"),
    url(../../assets/fonts/IBMPlexSans-Bold.woff) format("woff");
}

@font-face {
  font-family: "IBM Plex Sans Medium";
  src: local("IBM Plex Sans Medium"),
    url(../../assets/fonts/IBMPlexSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"),
    url(../../assets/fonts/IBMPlexSans-Regular.woff) format("woff");
}

*,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #292f36;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

p {
  line-height: 2;
}

a {
  color: #ffffff;
}

*::selection {
  background: #ffff2d !important; /* WebKit/Blink Browsers */
  color: #292f36;
}

.container {
  max-width: 1200px;
  padding: 0 1em;
}

/*
 * Header
 */

header {
  background: #fafafa;
  /* height: 100px; */
  width: 100%;
  z-index: 100;
}

.header-container {
  margin: 0 auto;
  align-items: center;
  /* height: 90px; */
  padding-top: 25px;
  color: #22a4ff;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-right: 10px;
  margin-bottom: -5px;
}

.header-tagline {
  color: #292f36;
  display: block;
  font-family: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
}

/*
**  Hamburger Button 
*/

#menu-button {
  border: none;
  font-size: 18px;
  position: absolute;
  top: 55px;
  right: 20px;
  height: 45px;
}

button {
  border-radius: 5px;
}

button:focus,
button:active,
button:visited {
  /* height: 45px; */
  outline: 0;
  border-radius: 5px;
}

button:active {
  outline: none;
  border: none;
}

input[type="submit"] {
  -webkit-appearance: button;
}

.hidden {
  display: none;
}

#mobile-menu {
  padding-top: 50px;
  /* background: #4eccc4; */
  background: #fafafa;
  z-index: -10;
}

/* 100 vh mobile menu */

/* #mobile-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mobile-link {
  color: #ffffff;
  font-family: "Oswald Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  text-decoration: none;
}

.mobile-link:hover {
  cursor: pointer;
} */

#mobile-links {
  align-items: center;
  background: #292f36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-top: 50px; */
}

.mobile-link {
  background: #fafafa;
  color: #292f36;
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 22px;
  height: 65px;
  margin-bottom: 3px;
  padding-top: 30px;
  padding-left: 1em;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.mobile-link:hover {
  cursor: pointer;
}

/*
**  Nav links
*/

.nav-links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #22a4ff;
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  background: #292f36;
  color: #ffffff;
}

/* 
**  Hero Section
*/

.hero-container {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%232d3142' fill-opacity='0.08'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background: #fafafa;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container-content {
  padding: 100px 1em;
}

.hero-tagline {
  font-family: "IBM Plex Sans Medium", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 64px;
  line-height: 1.25;
  margin-bottom: 100px;
  max-width: 1166px;
}

.coming-soon {
  font-style: italic;
  /* background: linear-gradient(#19d398, #19d398) no-repeat;
  background-position: bottom;
  background-size: 100% 75%; */
  color: #292f36;
  background: linear-gradient(#19d398, #19d398) no-repeat;
  background: linear-gradient(to right, #19d398, #19d398 50%, #19d398 50%)
    no-repeat;
  background: linear-gradient(to right, #19d398 99%, #fafafa 99%) no-repeat;
  background-position: 100% 50%;
  /* 	Change the second value to adjust the height */
  background-size: 100% 50%;
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.hero-button {
  background: #19d398;
  display: inline-block;
  font-family: "Open Sans Bold";
  padding: 1em 2em;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.hero-button:hover {
  /* box-shadow: 5px 5px 15px 0 #555555; */
  cursor: pointer;
  text-decoration: underline;
}

/*
**  About Page 
*/

.about-container {
  margin: 60px 0;
}

.about-header {
  font-size: 36px;
  margin-bottom: 60px;
}

/*
 * Footer
 */

footer {
  background: #02150f;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}

.footer-container,
.copyright-container {
  margin: 0 auto;
}

.footer-content {
  padding: 100px 0;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-header {
  color: #ffffff;
  font-size: 36px;
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  margin-bottom: 20px;
}

.column-text {
  color: #ffffff;
  font-size: 24px;
}

.response {
  color: #ffffff;
}

#mce-success-response {
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  position: absolute;
  margin-top: 10px;
}

#social-media-links {
  text-align: right;
  margin-top: -40px;
}

.social-media-link {
  /* margin: 0 15px; */
  text-decoration: none;
}

.social-media-after::after {
  content: " | ";
  color: #fff;
  font-size: 24px;
}

.social-media-link:not(:last-child) {
  margin-bottom: 10px;
  /* margin-right: 15px; */
}

.social-media-link:hover {
  text-decoration: underline;
}

.subscribe-labels {
  display: none;
}

#subscribe-input {
  border: none;
  color: #2d3042;
  height: 40px;
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  margin-top: 10px;
  padding-left: 1em;
  width: 300px;
}

#subscribe-button {
  background: #19d398;
  color: #ffffff;
  border: none;
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 18px;
  margin-top: -2px;
  margin-left: -5px;
  padding: 8.5px;
  width: 135px;
  text-transform: uppercase;
}

#subscribe-button:hover {
  cursor: pointer;
}

/*
 * Copyright
*/

.copyright {
  background: #02150f;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
}

.copyright-brand {
  font-family: "IBM Plex Sans Bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#pride-flag {
  margin-left: 10px;
  margin-bottom: -3px;
}

/* @media screen and (min-width: 800px) { */
@media screen and (min-width: 899px) {
  #menu-button {
    display: none;
  }

  .mobile-logo {
    display: none;
  }
}

/* @media screen and (max-width: 800px) { */
@media screen and (max-width: 899px) {
  .desktop-logo {
    display: none;
  }

  .mobile-logo {
    padding: 25px 0;
  }

  .header-tagline {
    display: block;
    font-size: 16px;
    margin-top: -76px;
    margin-left: 115px;
    width: 153px;
  }

  .about-link {
    display: none;
  }

  .hero-tagline {
    font-size: 40px;
    line-height: 46px;
  }

  .tagline {
    display: block;
  }

  .hero-button {
    display: none;
  }

  #subscribe-button {
    margin-top: 0.5em;
    margin-left: 1px;
  }

  footer {
    height: auto;
    padding-bottom: 100px;
  }

  .column-text {
    font-size: 18px;
  }

  .footer-content {
    padding: 50px 0;
  }

  .footer-header {
    font-size: 30px;
  }

  .social-media-header {
    margin-top: 50px;
  }

  #social-media-links {
    text-align: left;
  }

  .footer-content {
    padding-bottom: 0;
  }

  .copyright-left {
    line-height: 1.5;
  }

  .company-note {
    font-size: 16px;
    padding: 25px 0;
  }
}
